# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\kaifa\PycharmWork\zhihu_crawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
